## Pandas综合应用3
使用的数据集是美国电影评分数据
- 1.查看不同性别对电影的评分
- 2.不同性别差异最大的电影
- 3.查找出热门电影 热度榜单
- 4.每部电影的评分（平均分）高分榜单
- 5.前十大热门电影的评分
- 6.前20名高分电影的热度

In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.rcParams['font.sans-serif']=['SimHei']
plt.rcParams['axes.unicode_minus']=False
movies = pd.read_csv('movies.csv',sep='::',names=['MovieID','Title','Genres'],header=None,engine='python')
# movies

In [33]:
ratings = pd.read_csv('ratings.csv',sep='::',names=['UserID','MovieID','Rating','Timestamp'],header=None,engine='python')
# ratings
#help(pd.read_csv)
#%more users.dat
#unmaes = ['userid','gender','age','occupation','zip']
#users = pd.read_csv('users.dat',sep='::',header=None,names=unmaes)

In [34]:
users = pd.read_csv('users.csv',sep='::',names=['UserID','Gender','Age','Occupation','Zip-code'],header=None,engine='python')
# users

In [35]:
df1=pd.merge(ratings,users,how='inner',on='UserID')
# df1

In [36]:
df2=pd.merge(df1,movies,on='MovieID',how='inner')
df2
#df2 = pd.merge(pd.merge(users,ratings),movies)

,UserID,MovieID,Rating,Timestamp,Gender,Age,Occupation,Zip-code,Title,Genres
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,1193,5,978298413,M,56,16,70072,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,1193,4,978220179,M,25,12,32793,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,1193,4,978199279,M,25,7,22903,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,1193,5,978158471,M,50,1,95350,One Flew Over the Cuckoo's Nest (1975),Drama
5,18,1193,4,978156168,F,18,3,95825,One Flew Over the Cuckoo's Nest (1975),Drama
6,19,1193,5,982730936,M,1,10,48073,One Flew Over the Cuckoo's Nest (1975),Drama
7,24,1193,5,978136709,F,25,7,10023,One Flew Over the Cuckoo's Nest (1975),Drama
8,28,1193,3,978125194,F,25,1,14607,One Flew Over the Cuckoo's Nest (1975),Drama
9,33,1193,5,978557765,M,45,3,55421,One Flew Over the Cuckoo's Nest (1975),Drama
10,39,1193,5,978043535,M,18,4,61820,One Flew Over the Cuckoo's Nest (1975),Drama
11,42,1193,3,978038981,M,25,8,24502,One Flew Over the Cuckoo's Nest (1975),Drama
12,44,1193,4,978018995,M,45,17,98052,One Flew Over the Cuckoo's Nest (1975),Drama
13,47,1193,4,977978345,M,18,4,94305,One Flew Over the Cuckoo's Nest (1975),Drama
14,48,1193,4,977975061,M,25,4,92107,One Flew Over the Cuckoo's Nest (1975),Drama
15,49,1193,4,978813972,M,18,12,77084,One Flew Over the Cuckoo's Nest (1975),Drama
16,53,1193,5,977946400,M,25,0,96931,One Flew Over the Cuckoo's Nest (1975),Drama
17,54,1193,5,977944039,M,50,1,56723,One Flew Over the Cuckoo's Nest (1975),Drama
18,58,1193,5,977933866,M,25,2,30303,One Flew Over the Cuckoo's Nest (1975),Drama
19,59,1193,4,977934292,F,50,1,55413,One Flew Over the Cuckoo's Nest (1975),Drama
20,62,1193,4,977968584,F,35,3,98105,One Flew Over the Cuckoo's Nest (1975),Drama
21,80,1193,4,977786172,M,56,1,49327,One Flew Over the Cuckoo's Nest (1975),Drama
22,81,1193,5,977785864,F,25,0,60640,One Flew Over the Cuckoo's Nest (1975),Drama
23,88,1193,5,977694161,F,45,1,02476,One Flew Over the Cuckoo's Nest (1975),Drama
24,89,1193,5,977683596,F,56,9,85749,One Flew Over the Cuckoo's Nest (1975),Drama
25,95,1193,5,977626632,M,45,0,98201,One Flew Over the Cuckoo's Nest (1975),Drama
26,96,1193,3,977621789,F,25,16,78028,One Flew Over the Cuckoo's Nest (1975),Drama
27,99,1193,2,982791053,F,1,10,19390,One Flew Over the Cuckoo's Nest (1975),Drama
28,102,1193,5,1040737607,M,35,19,20871,One Flew Over the Cuckoo's Nest (1975),Drama
29,104,1193,2,977546620,M,25,12,00926,One Flew Over the Cuckoo's Nest (1975),Drama
...,...,...,...,...,...,...,...,...,...,...
1000179,4933,3084,3,962757020,M,25,15,94040,Home Page (1999),Documentary
1000180,4802,2218,2,1014866656,M,56,1,40601,Juno and Paycock (1930),Drama
1000181,4812,2308,2,962932391,M,18,14,25301,Detroit 9000 (1973),Action|Crime
1000182,4874,624,4,962781918,F,25,4,70808,Condition Red (1995),Action|Drama|Thriller
1000183,5059,1434,4,962484364,M,45,16,22652,"Stranger, The (1994)",Action
1000184,5947,1434,4,957190428,F,45,16,97215,"Stranger, The (1994)",Action
1000185,5077,1868,3,962417299,M,25,2,20037,"Truce, The (1996)",Drama|War
1000186,5944,1868,1,957197520,F,18,10,27606,"Truce, The (1996)",Drama|War
1000187,5105,404,3,962337582,M,50,7,18977,Brother Minister: The Assassination of Malcolm...,Documentary
1000188,5185,404,4,963402617,F,35,4,44485,Brother Minister: The Assassination of Malcolm...,Documentary
1000189,5532,404,5,959619841,M,25,17,27408,Brother Minister: The Assassination of Malcolm...,Documentary
1000190,5543,404,3,960127592,M,25,17,97401,Brother Minister: The Assassination of Malcolm...,Documentary
1000191,5220,2543,3,961546137,M,25,7,91436,Six Ways to Sunday (1997),Comedy
1000192,5754,2543,4,958272316,F,18,1,60640,Six Ways to Sunday (1997),Comedy
1000193,5227,591,3,961475931,M,18,10,64050,Tough and Deadly (1995),Action|Drama|Thriller
1000194,5795,591,1,958145253,M,25,1,92688,Tough and Deadly (1995),Action|Drama|Thriller
1000195,5313,3656,5,960920392,M,56,0,55406,Lured (1947),Crime
1000196,5328,2438,4,960838075,F,25,4,91740,Outside Ozona (1998),Drama|Thriller
1000197,5334,3323,3,960796159,F,56,13,46140,Chain of Fools (2000),Comedy|Crime
1000198,5334,127,1,960795494,F,56,13,46140,"Silence of the Palace, The (Saimt el Qusur) (1...",Drama
1000199,5334,3382,5,960796159,F,56,13,46140,Song of Freedom (1936),Drama
1000200,5420,1843,3,960156505,F,1,19,14850,Slappy and the Stinkers (1998),Children's|Comedy
1000201,5433,286,3,960240881,F,35,17,45014,Nemesis 2: Nebula (1995),Action|Sci-Fi|Thriller
1000202,5494,3530,4,959816296,F,35,17,94306,Smoking/No Smoking (1993),Comedy
1000203,5556,2198,3,959445515,M,45,6,92103,Modulations (1998),Documentary
1000204,5949,2198,5,958846401,M,18,17,47901,Modulations (1998),Documentary
1000205,5675,2703,3,976029116,M,35,14,30030,Broken Vessels (1998),Drama
1000206,5780,2845,1,958153068,M,18,17,92886,White Boys (1999),Drama
1000207,5851,3607,5,957756608,F,18,20,55410,One Little Indian (1973),Comedy|Drama|Western
1000208,5938,2909,4,957273353,M,25,1,35401,"Five Wives, Three Secretaries and Me (1998)",Documentary

- 1.查看不同性别对电影的评分
- 2.不同性别差异最大的电影
- 3.查找出热门电影 热度榜单
- 4.每部电影的评分（平均分）高分榜单
- 5.前十大热门电影的评分
- 6.前20名高分电影的热度

-pivot_table根据一个或多个键举行聚合，并根据行列上的分组键将数据分配到各个举行区域中
-DataFrame.pivot_table(data,
-                   values=None,
-                   index=None,
-                    columns=None,
-                    aggfunc='mean',
-                    fill_value = None,
-                    margins=False,
-                    dropna=True,
-                    margins_name='All')
-data: DataFrame对象
-values:显示的列的名字，可以应用aggfunc中的函数
-index:索引
-columns:可选的，通过额外的方法来分割你所关心的实际值
-    然而aggfunc被应用到values上，aggfunc默认的是mean

In [37]:
#1.查看不同性别对电影的评分
df2.groupby('Gender')['Rating'].mean()
rating_by_gender = df2.pivot_table(values='Rating',index = 'Title',columns='Gender',aggfunc='mean')
rating_by_gender.head(10)

Gender                                    F         M
Title
$1,000,000 Duck (1971)             3.375000  2.761905
'Night Mother (1986)               3.388889  3.352941
'Til There Was You (1997)          2.675676  2.733333
'burbs, The (1989)                 2.793478  2.962085
...And Justice for All (1979)      3.828571  3.689024
1-900 (1994)                       2.000000  3.000000
10 Things I Hate About You (1999)  3.646552  3.311966
101 Dalmatians (1961)              3.791444  3.500000
101 Dalmatians (1996)              3.240000  2.911215
12 Angry Men (1957)                4.184397  4.328421

In [39]:
#2.不同性别差异最大的电影
rating_by_gender['diff'] = np.fabs(rating_by_gender.F - rating_by_gender.M)
rating_by_gender.sort_values(by = 'diff',ascending = False).head(10)

Gender,F,M,diff
Title,,,
Tigrero: A Film That Was Never Made (1994),1.000000,4.333333,3.333333
"Spiders, The (Die Spinnen, 1. Teil: Der Goldene See) (1919)",4.000000,1.000000,3.000000
"Neon Bible, The (1995)",1.000000,4.000000,3.000000
"James Dean Story, The (1957)",4.000000,1.000000,3.000000
Country Life (1994),5.000000,2.000000,3.000000
"Enfer, L' (1994)",1.000000,3.750000,2.750000
Babyfever (1994),3.666667,1.000000,2.666667
Stalingrad (1993),1.000000,3.593750,2.593750
"Woman of Paris, A (1923)",5.000000,2.428571,2.571429
Cobra (1925),4.000000,1.500000,2.500000

In [40]:
# 3.查找出热门电影  热度榜单
rating_by_title = data.groupby('title').size()
print(rating_by_title.sort_values(ascending = False).head(10))

NameError: name 'data' is not defined

In [55]:
#4.每部电影的评分（平均分）高分榜单
df2.groupby('Title')['Rating'].mean().sort_values(ascending = False)

Title
Gate of Heavenly Peace, The (1995)                                       5.000000
Lured (1947)                                                             5.000000
Ulysses (Ulisse) (1954)                                                  5.000000
Smashing Time (1967)                                                     5.000000
Follow the Bitch (1998)                                                  5.000000
Song of Freedom (1936)                                                   5.000000
Bittersweet Motel (2000)                                                 5.000000
Baby, The (1973)                                                         5.000000
One Little Indian (1973)                                                 5.000000
Schlafes Bruder (Brother of Sleep) (1995)                                5.000000
I Am Cuba (Soy Cuba/Ya Kuba) (1964)                                      4.800000
Lamerica (1994)                                                          4.750000
Apple, The (Sib) (1998)                                                  4.666667
Sanjuro (1962)                                                           4.608696
Seven Samurai (The Magnificent Seven) (Shichinin no samurai) (1954)      4.560510
Shawshank Redemption, The (1994)                                         4.554558
Godfather, The (1972)                                                    4.524966
Close Shave, A (1995)                                                    4.520548
Usual Suspects, The (1995)                                               4.517106
Schindler's List (1993)                                                  4.510417
Wrong Trousers, The (1993)                                               4.507937
Dangerous Game (1993)                                                    4.500000
Mamma Roma (1962)                                                        4.500000
Inheritors, The (Die Siebtelbauern) (1998)                               4.500000
Hour of the Pig, The (1993)                                              4.500000
Dry Cleaning (Nettoyage à sec) (1997)                                    4.500000
Bells, The (1926)                                                        4.500000
Skipped Parts (2000)                                                     4.500000
Callejón de los milagros, El (1995)                                      4.500000
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)                            4.491489
                                                                           ...
Lotto Land (1995)                                                        1.000000
Blood Spattered Bride, The (La Novia Ensangrentada) (1972)               1.000000
Waltzes from Vienna (1933)                                               1.000000
Uninvited Guest, An (2000)                                               1.000000
Wirey Spindell (1999)                                                    1.000000
Silence of the Palace, The (Saimt el Qusur) (1994)                       1.000000
Underworld (1997)                                                        1.000000
Terror in a Texas Town (1958)                                            1.000000
Fantastic Night, The (La Nuit Fantastique) (1949)                        1.000000
Shadows (Cienie) (1988)                                                  1.000000
Nueba Yol (1995)                                                         1.000000
Even Dwarfs Started Small (Auch Zwerge haben klein angefangen) (1971)    1.000000
Hillbillys in a Haunted House (1967)                                     1.000000
Little Indian, Big City (Un indien dans la ville) (1994)                 1.000000
Loves of Carmen, The (1948)                                              1.000000
Low Life, The (1994)                                                     1.000000
Diebinnen (1995)                                                         1.000000
Bloody Child, The (1996)                                                 1.000000
White Boys (1999)                                                        1.000000
Mutters Courage (1995)                                                   1.000000
Santa with Muscles (1996)                                                1.000000
Spring Fever USA (a.k.a. Lauderdale) (1989)                              1.000000
Torso (Corpi Presentano Tracce di Violenza Carnale) (1973)               1.000000
Sleepover (1995)                                                         1.000000
McCullochs, The (1975)                                                   1.000000
Kestrel's Eye (Falkens öga) (1998)                                       1.000000
Windows (1980)                                                           1.000000
Venice/Venice (1992)                                                     1.000000
Get Over It (1996)                                                       1.000000
Elstree Calling (1930)                                                   1.000000
Name: Rating, Length: 3706, dtype: float64

In [43]:
# 4.每部电影的评分（平均分）  高分榜单
mean_ratings = df2.pivot_table(values = 'Rating',index = 'Title',aggfunc = 'mean')
print(mean_ratings.sort_values(by = 'Rating',ascending = False).head(10))

                                           Rating
Title
Ulysses (Ulisse) (1954)                       5.0
Lured (1947)                                  5.0
Follow the Bitch (1998)                       5.0
Bittersweet Motel (2000)                      5.0
Song of Freedom (1936)                        5.0
One Little Indian (1973)                      5.0
Smashing Time (1967)                          5.0
Schlafes Bruder (Brother of Sleep) (1995)     5.0
Gate of Heavenly Peace, The (1995)            5.0
Baby, The (1973)                              5.0